@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Rutherford College</h1>
</div>
<h2 class="tagline">Enrollment Management System</h2>
<div class="cards">
    <div class="card-item">
        <a asp-controller="Students">
            <h2>Students</h2>
        </a>
    </div>
    <div class="card-item">
        <a asp-controller="Courses">
            <h2>Courses</h2>
        </a>
    </div>
    <div class="card-item">
        <a asp-controller="Instructors">
            <h2>Instructors</h2>
        </a>
    </div>
    <div class="card-item">
        <a asp-controller="Departments">
            <h2>Departments</h2>
        </a>
    </div>
</div>