@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="image-container">
        <img src="~/lib/light_of_the_world_jesus_christ.jpg" alt="Jesus Christ"/>
    </div>
    <h1 class="display-4">My Scripture Journal</h1>
</div>
